/* imported component rules  */

@import 'components/quizcomponents/css/quizStylesheet.css';

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score {
  font-weight: 300;
}
